{% extends "layouts/base.html" %}

{% block content %}
    <div class="row-fluid" id="login">
        {% if user.is_authenticated %}
        <a href="{% url 'supervisor.views.logout' %}">Logout</a>
        {% else %}
        <h1>Login</h1>
        <div class="">
            <a class="js-track-link" href="{% url 'supervisor.views.login' out='twitter' %}" class="btn btn-primary btn-large">
                Login with Twitter
            </a>
        </div>
        {% endif %}
    </div>
{% endblock %}