{% extends "layouts/static_page.html" %}

{% block static_title %}All Products{% endblock %}

{% block static_content %}

    <div class="row">
        {% for product, search in products %}
        <div class="span10">
            <h2>{{ product.name }}</h2>
            {% if search %}
            <h4>Search Results</h4>
            <p>Last updated on {{ search.created }}</p>
            <p class="tagcloud">
                {% for word, count in search.all_word_pairs %}
                <a href="#{{ word }}" rel="{{ count }}" title="{{ word|title }} used {{ count }} time{{ count|pluralize }}">{{ word }}</a>
                {% endfor %}
            </p>
            {% endif %}
        </div>
        {% empty %}
        <p class="alert alert-info">No products!</p>
        {% endfor %}
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(function () {
        $.fn.tagcloud.defaults = {
          size: {start: 8, end: 32, unit: 'pt'},
          color: {start: '#cde', end: '#f52'}
        };
        $(".tagcloud a").tagcloud()
    })
</script>
{% endblock %}