{% extends "layouts/static_page.html" %}

{% block static_title %}All Products{% endblock %}

{% block static_content %}

    <div class="row">
        {% for product, search in products %}
        <div class="span10">
            <h2>{{ product.name }}</h2>
            {% if search %}
            <h4>Search Results</h4>
            <p>Last updated on {{ search.created }}</p>
            <table class="table table-bordered">
                <thead>
                    <th>Category</th>
                    <th>Count</th>
                </thead>
                <tbody>
                    <tr><td>Descriptions</td><td>{{ search.descriptions|default_if_none:'-'}}</td></tr>
                    <tr><td>Emotions</td><td>{{ search.emotions|default_if_none:'-' }}</td></tr>
                    <tr><td>Intents</td><td>{{ search.intents|default_if_none:'-'}}</td></tr>
                    <tr><td>Possessives</td><td>{{ search.possessives|default_if_none:'-'}}</td></tr>
                    <tr><td>Promotionals</td><td>{{ search.promotionals|default_if_none:'-'}}</td></tr>
                    <tr><td>Reactions</td><td>{{ search.reactions|default_if_none:'-'}}</td></tr>
                </tbody>
            </table>
            {% endif %}
        </div>
        {% empty %}
        <p class="alert alert-info">No products!</p>
        {% endfor %}
    </div>
{% endblock %}