{% extends "layouts/static_page.html" %}

{% block static_title %}Edit Product{% endblock %}

{% if user.is_staff %}
{% block navgroup %}
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="{% url 'product.views.management' %}">Management</a>
        <ul class="nav">
            <li><a href="{% url 'product.views.view_product' pk=product.pk %}">Product Page</a></li>
            <li class="active"><a href="{% url 'product.views.edit' pk=product.pk %}">Edit</a></li>
            <li><a href="{% url 'product.views.searches' pk=product.pk %}">Searches</a></li>
            <li><a href="{% url 'product.views.view_tweets' pk=product.pk %}">Tweets</a></li>
        </ul>
      </div>
    </div>

{% endblock %}
{% endif %}

{% block static_content %}

    <div class="row">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <p>
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="{% url 'product.views.view_product' pk=product.pk %}" class="btn">cancel</a>
        </form>
    </div>
{% endblock %}