{% extends "layouts/static_page.html" %}

{% block static_title %}Manage Products{% endblock %}

{% block static_content %}

    {% if active_searches %}
    <div class="row">
        <h3>Running Searches</h3>
        <table class="table table-bordered">
            <thead>
                <th>Started</th>
                <th>Product</th>
                <th>Status</th>
            </thead>
            <tbody>
                {% for search in active_searches %}
                <tr>
                    <td><a href="{% url 'product.views.view_search' pk=search.pk %}">{{ search.created }}</td>
                    <td><a href="{% url 'product.views.view_product' pk=search.product.pk %}">{{ search.product.name }}</a></td>
                    <td>{{ search.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    <div class="row">
        <h3>Products</h3>
        <p><a href="{% url 'product.views.add' %}" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add Product</a></p>
        {% if products %}
        <table class="table table-bordered">
            <thead>
                <th>Name</th>
                <th>Related Names</th>
                <th>Searches</th>
                <th>Tweets</th>
            </thead>
            <tbody>
                {% for product in products %}
                <tr{% if not product.active %} class="error"{% endif %}>
                    <td><a href="{% url 'product.views.view_product' pk=product.pk %}">{{ product.name }}</a></td>
                    <td>{{ product.related_names }}</td>
                    <td><a href="{% url 'product.views.searches' pk=product.pk %}">{{ product.search_set.count }} search{{ product.search_set.count|pluralize:"es" }}</td>
                    <td><a href="{% url 'product.views.view_tweets' pk=product.pk %}">{{ product.tweet_set.count }} tweet{{ product.tweet_set.count|pluralize:"s" }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="alert alert-info">No products!</p>
        {% endif %}
    </div>
{% endblock %}