{% extends "layouts/static_page.html" %}
{% load humanize %}

{% block static_title %}Searches for <a href="{% url 'product.views.view_product' pk=product.pk %}">{{ product.name }}</a>{% endblock %}

{% if user.is_staff %}
{% block navgroup %}
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="{% url 'product.views.management' %}">Management</a>
        <ul class="nav">
            <li><a href="{% url 'product.views.view_product' pk=product.pk %}">Product Page</a></li>
            <li><a href="{% url 'product.views.edit' pk=product.pk %}">Edit</a></li>
            <li class="active"><a href="{% url 'product.views.searches' pk=product.pk %}">Searches</a></li>
            <li><a href="{% url 'product.views.view_tweets' pk=product.pk %}">Tweets</a></li>
        </ul>
      </div>
    </div>

{% endblock %}
{% endif %}

{% block static_content %}

    <div class="row">
        <p><a href="{% url 'product.views.add_search' pk=product.pk %}" class="btn btn-primary"><i class="icon-plus icon-white"></i> New Search</a></p>
        {% if searches %}
        <table class="table table-bordered">
            <thead>
                <th>Started</th>
                <th>Status</th>
                <th>Total Tweets</th>
                <th>Valid Tweets</th>
                <th>Descriptions</th>
                <th>Emotions</th>
                <th>Intents</th>
                <th>Possessives</th>
                <th>Promotionals</th>
                <th>Reactions</th>
            </thead>
            <tbody>
                {% for search in searches %}
                <tr>
                    <td><a href="{% url 'product.views.view_search' pk=search.pk %}">{{ search.created }}</a></td>
                    <td>{{ search.status }}</td>
                    <td>{{ search.total_results|default_if_none:'-'|intcomma }}</td>
                    <td>{{ search.valid_tweets.count|intcomma }}</td>
                    <td>{{ search.descriptions|default_if_none:'-'}}</td>
                    <td>{{ search.emotions|default_if_none:'-' }}</td>
                    <td>{{ search.intents|default_if_none:'-'}}</td>
                    <td>{{ search.possessives|default_if_none:'-'}}</td>
                    <td>{{ search.promotionals|default_if_none:'-'}}</td>
                    <td>{{ search.reactions|default_if_none:'-'}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="alert alert-info">No searches.</p>
        {% endif %}
        {% include "product/partial/wordtable.html" with words=word_pairs %}
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    // Takes a table row element and an index and returns the normalized form
    // of the sort attribute for the nth-child td. To be more clear, take the
    // nth-child td element inside this table row as defined by index (that is
    // `:nth-child(idx)`) and then normalize it's sort attribute (if it exists)
    // otherwise use the internal text.
    function sort_attr ($tr, idx) {
        var $td = $tr.children("td:nth-child(" + idx + ")"),
            sort_attr = $td.attr("sort")
        if (typeof(sort_attr) === "undefined") {
            sort_attr = $td.text()
        }

        // Normalize case
        sort_attr = sort_attr.trim().toLowerCase()

        // Try to treat this as an integer
        var int_attr = parseInt(sort_attr)
        if (int_attr === 0 || !!int_attr && typeof(int_attr) == "number") {
            return int_attr
        }

        // Guess we're using a string
        return sort_attr
    }

    // Returns a sorting function that can be applied to an array.
    function _sort (idx, ascending) {
        return ascending ? function _sorter (a, b) {
            return sort_attr($(a), idx) > sort_attr($(b), idx) ? 1 : -1;
        } : function _sorter (a, b) {
            return sort_attr($(a), idx) < sort_attr($(b), idx) ? 1 : -1;
        }
    }

    // When clicking on a table header, perform some sorting.
    $("table.table-sorted thead th").on("click", function () {
        var self = $(this),
            $tbody = self.parent().parent().parent().children("tbody")

        // Setup sort direction, defaulting to ascending and reversing
        // direction if previously set.
        var asc = self.attr("asc") == "true" ? false : true
        self.attr("asc", asc)

        // Clear all directions
        $(".dir").html("")

        // Setup current direction flag
        self.find(".dir").html(asc ? "&nbsp;(&#9650;)" : "&nbsp;(&#9660;)")

        // Sort!
        var fn = _sort(self.index() + 1, asc)
        $tbody.html($tbody.children("tr").sort(fn))
    })

    // Affix a .dir to every th
    $("table.table-sorted thead th").append("<span class=\"dir\"></span>");
</script>
{% endblock %}