{% extends "layouts/static_page.html" %}

{% block static_title %}Search for <a href="{% url 'product.views.searches' pk=search.product.pk %}">{{ search.product.name }}</a>{% endblock %}

{% if user.is_staff %}
{% block navgroup %}
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="{% url 'product.views.management' %}">Management</a>
        <ul class="nav">
            <li><a href="{% url 'product.views.view_product' pk=product.pk %}">Product Page</a></li>
            <li><a href="{% url 'product.views.edit' pk=product.pk %}">Edit</a></li>
            <li class="active"><a href="{% url 'product.views.searches' pk=product.pk %}">Searches</a></li>
            <li><a href="{% url 'product.views.view_tweets' pk=product.pk %}">Tweets</a></li>
        </ul>
      </div>
    </div>

{% endblock %}
{% endif %}

{% block static_content %}

    <div class="row">
        {% if not search.complete %}
        <p class="alert alert-warning alert-block">This search is not complete.</p>
        {% endif %}
        <h3>Tag Cloud</h3>
        {% include "product/partial/tagcloud.html" with words=search.all_word_pairs %}
        <table class="table table-bordered">
            <thead>
                <th>Keyword</th>
                <th>Group</th>
                <th class="initial">Count</th>
            </thead>
            <tbody>
                {% for word, group, count, _ in search.all_word_pairs %}
                <tr><td sort="{{ word }}">{{ word }}</td><td sort="{{ group }}">{{ group }}</td><td sort="{{ count }}">{{ count }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="alert alert-block alert-error">
            <h4>Delete This Search</h4>
            <p>Sometimes it doesn't work out. Enter the product name below and press Delete to remove this search.</p>
            <form action="{% url 'product.views.delete_search' pk=search.pk %}" method="POST">
                {% csrf_token %}
                <input type="text" placeholder="{{ search.product.name }}" name="confirm">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(function () {
        $.fn.tagcloud.defaults = {
          size: {start: 8, end: 28, unit: 'pt'},
          color: {start: '#cde', end: '#f52'}
        };
        $(".tagcloud a").tagcloud()
        $(".initial").trigger("click").trigger("click")
    })
    // Takes a table row element and an index and returns the normalized form
    // of the sort attribute for the nth-child td. To be more clear, take the
    // nth-child td element inside this table row as defined by index (that is
    // `:nth-child(idx)`) and then normalize it's sort attribute (if it exists)
    // otherwise use the internal text.
    function sort_attr ($tr, idx) {
        var $td = $tr.children("td:nth-child(" + idx + ")"),
            sort_attr = $td.attr("sort")
        if (typeof(sort_attr) === "undefined") {
            sort_attr = $td.text()
        }

        // Normalize case
        sort_attr = sort_attr.trim().toLowerCase()

        // Try to treat this as an integer
        var int_attr = parseInt(sort_attr)
        if (int_attr === 0 || !!int_attr && typeof(int_attr) == "number") {
            return int_attr
        }

        // Guess we're using a string
        return sort_attr
    }

    // Returns a sorting function that can be applied to an array.
    function _sort (idx, ascending) {
        return ascending ? function _sorter (a, b) {
            return sort_attr($(a), idx) > sort_attr($(b), idx) ? 1 : -1;
        } : function _sorter (a, b) {
            return sort_attr($(a), idx) < sort_attr($(b), idx) ? 1 : -1;
        }
    }

    // When clicking on a table header, perform some sorting.
    $("table thead th").on("click", function () {
        var self = $(this)

        // Setup sort direction, defaulting to ascending and reversing
        // direction if previously set.
        var asc = self.attr("asc") == "true" ? false : true
        self.attr("asc", asc)

        // Clear all directions
        $(".dir").html("")

        // Setup current direction flag
        self.find(".dir").html(asc ? "&nbsp;(&#9650;)" : "&nbsp;(&#9660;)")

        // Sort!
        var fn = _sort(self.index() + 1, asc)
        $("table tbody").html($("table tbody tr").sort(fn))
    })

    // Affix a .dir to every th
    $("table thead th").append("<span class=\"dir\"></span>");
</script>
{% endblock %}