{% extends "layouts/static_page.html" %}

{% block static_title %}Tweets for {{ product.name|title }}{% endblock %}

{% if user.is_staff %}
{% block navgroup %}
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="{% url 'product.views.management' %}">Management</a>
        <ul class="nav">
            <li><a href="{% url 'product.views.view_product' pk=product.pk %}">Product Page</a></li>
            <li><a href="{% url 'product.views.edit' pk=product.pk %}">Edit</a></li>
            <li><a href="{% url 'product.views.searches' pk=product.pk %}">Searches</a></li>
            <li class="active"><a href="{% url 'product.views.view_tweets' pk=product.pk %}">Tweets</a></li>
        </ul>
      </div>
    </div>

{% endblock %}
{% endif %}

{% block static_content %}
    <div class="row" id="tweetrow">
        {% if tweets %}
            {% for tweet in tweets %}
            <div class="span12">
                {{ tweet.display_as_embed|safe }}
                <p><a class="show" pk="{{ tweet.pk }}">Show Raw Object</a></p>
                <pre pk="{{ tweet.pk }}" style="display: none"><code>{{ tweet.raw }}</code></pre>
            </div>
            {% endfor %}
        {% else %}
            <p class="alert alert-info alert-block">No tweets found.</p>
        {% endif %}
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(".show").on("click", function () {
        $("pre[pk=" + $(this).attr("pk") + "]").show()
        $(this).parent().hide()
    })
</script>
{% endblock %}